body {
  background-color: black;
}
img {
  position: fixed;
  display: block;
  min-width: 100%;
  min-height: 100%;
  background-repeat: repeat-y;
  background-size: 100%;
}

h1 {
  margin-left: 17%;
  font-size: 50px;
  color: #ffffe6;
  font-family: 'PT Serif', serif;
}

h2 {
  color: #ffffe6;
  font-family: 'PT Serif', serif;
}

h3 {
  color: #ffffe6;
  font-family: 'Lora', serif;
}

.radio {
  color: #ffffe6;
  font-family: 'Fira Sans', sans-serif;
}

button {
  margin-left: 46%;
  margin-right: auto;
}
